<div class="py-4">
    <div class="container">
      <div class=" center-block">

        <h1>New user</h1>

        <%= render "form", user: @user %>

        <br>

        <div>
          <%= link_to "Back to users", users_path %>
        </div>

      </div>
    </div>
</div>
