
    <!-- メインビジュアル -->
  <div class="py-4">
    <div class="container">
        <%= image_tag "ruby1.png", alt:"logo",class:"home-top_image" %>
          <div class=" d-none d-md-block">
            <h2>ご訪問ありがとうございます。</h2>
          <p>rails7 と　bootstrap5で作成したページです。</p>
        </div>
    </div>
   </div>
  <!-- コンテンツ01 -->
  <div class="py-4">
    <section id="news">
      <div class="container">
        <div class="row">
          <!-- 左側カラム（画面幅md以上） -->
          <div class="col-md-2">
            <h3>ニュース</h3>
          </div>
          <!-- 右側カラム（画面幅md以上） -->
          <div class="col-md-10">
            <dl class="row">
              <dt class="col-md-3">2021年○月○日</dt>
              <dd class="col-md-9">工事中です</dd>
              <dt class="col-md-3">2021年○月○日</dt>
              <dd class="col-md-9">工事中です。</dd>
              <dt class="col-md-3">2021年○月○日</dt>
              <dd class="col-md-9">工事中です。</dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
